#params {
    display: flex;
}

#measures {
    display: flex;
    gap: 2em;
}

 #tubes {
    width: 100%;
 }

#chart_tubes {
    display: flex;
}

#ul_tubes {
    gap: 1em;
    display: flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

.li_tube {
    margin-right: 1em;
    margin-bottom: 1em;
    list-style: none;
    border: 2px solid black;
    border-radius: 2%;
    padding: 1.5em;
}

.measure {
    margin: 1%;
}

.header_text {
    margin: 0;
}

.tube_capture_button_inline {
    display: flex;
    align-items: baseline;
}

.div_new_capture {
    display:flex;
}

.btn_tube_capture {
    margin-left: 5%;
    align-self: center;
}

.div_select_mode {
    display: flex;
    margin-bottom: 15%;
}

.warning_sign {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-image: url('/img/warning.svg');
    background-size: contain;
}